#text {
  border-style: solid;
  border-color: red;
  border-width: 3px;
  width: 50%;
  color: blue;
  direction: ltr;
  text-align: center;
  text-align: justify;
  text-decoration: underline;
  text-decoration: overline;
  text-decoration: line-through;
  text-transform: capitalize;
  text-transform: uppercase;
  text-transform: lowercase;
  line-height: 100%;
  text-indent: 20px;
  letter-spacing: 2px;
  word-spacing: 4px;
  word-wrap: break-word;
}
p {
  font-size: 20px;
  text-shadow: 6px -4px 2px;
  text-decoration: none;
}

img {
  width: 50px;
  height: 80px;
  border-style: solid;
  border-color: rgb(7, 243, 7);
  vertical-align: top;
  vertical-align: middle;
}
