.parent {
    margin-top: 100px;
    border-color: red;
    border-width: 0.5px;
    border-style: solid;
    width: 80%;
    height: 300px;
    padding: 10px;
}

.one {
    border-color: rgb(136, 255, 0);
    border-width: 1px;
    border-style: solid;
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
    position: relative;
    z-index: 2;
}

.two {
    border-color: rgb(0, 157, 255);
    border-width: 1px;
    border-style: solid;
    height: 100px;
    width: 100px;
    background-color: green;
    display: inline-block;
    position: relative;
    right: 80px;
    top: 20px;
    z-index: 1;
}

.three {
    border-color: rgb(255, 85, 0);
    border-width: 1px;
    border-style: solid;
    height: 100px;
    width: 100px;
    background-color: black;
    display: inline-block;
    position: relative;
    right: 160px;
    top: 40px;
    z-index: 3;
}

/* z-index works only if it is positioned element */
/* jei element er z-index beshi ha upre thakbo */