#one{
    border-style: solid;
    border-color: red;
    background-color: greenyellow;  
    filter: blur(2px); 
    filter: constrast(10%); 
    filter: brightness(50%);
    filter: grayscale(89%);
    filter: hue-rotate(30deg);
    /*rotation degree as per the hue piechart*/
    filter: invert(80%);
    filter: opacity(50%);
    filter: saturate(50);
    
    
    
}
img{
    width: 50%;
    filter: constrast(90%);
    filter: brightness(50%);
    filter: blur(2px);
    filter: grayscale(50%);
    filter: hue-rotate(180deg);
    filter: invert(50%);
    filter: opacity(50%);
    filter: saturate(50);
}
/*constrast not working, dunno why*/