.parent{
    border-color: red;
    border-width: 3px;
    border-style: solid;
    width: 80%;
    padding: 10px;
}
.one{
    border-color: rgb(136, 255, 0);
    border-width: 1px;
    border-style: solid;
    height: 100px;
    width: 100px;
    background-color: blue;
    display: inline-block;
}
.two{
    border-color: rgb(0, 157, 255);
    border-width: 1px;
    border-style: solid;
    height: 100px;
    width: 100px;
    background-color: green;
    display: inline-block;
}
.three{
    border-color: rgb(255, 85, 0);
    border-width: 1px;
    border-style: solid;
    height: 100px;
    width: 100px;
    background-color: black;
    display: inline-block;
}