ol{
list-style-type:decimal-leading-zero;
list-style-type: armenian;
list-style-type:decimal;
list-style-type:georgian;
list-style-type:lower-alpha;
list-style-type:lower-greek;
list-style-type:lower-latin;
list-style-type:lower-roman;
list-style-type:upper-alpha;
list-style-type:upper-roman;
list-style-position: inside;
list-style-position: outside;
}
ul{
    list-style-type: decimal;
    list-style-type: circle;
    list-style-type: disc;
    list-style-type:square;
    list-style-image: url('arrow\ \(1\).png');
    list-style-position: outside;
    list-style-position: inside;
}
li{
    border-style: solid;
}